{% include 'partials/header.html' %}

<title>Mega B - Projects</title>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="" style="margin: 5px;margin-top:25px;">
    <h1 class="ui horizontal divider header">
    Mega A - Projects </h1><br>
</div>




{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="ui {{ message.tags }} message" {% endif %} style="margin: 15px;">
            <div class="header">
            Notice!
            </div>
            {{ message }}
        </div>
      {% endfor %}
{% endif %}

<div class="ui raised horizontal segments" id="segments">   
        <button class="ui facebook icon button" id="btnProjects"><i class="bar chart icon"></i> Statistics</button> 
<div class="ui  segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value">
    {% load staticfiles %}

    <!-- -->
    <div class="ui mini modal" id="invoiceInfo">
        <div class="header"><i class="info circle icon"></i> Invoice Status</div>
        <div class="content" id="invoiceInfoData">
            <h4>Recieved Payment</h4>
            
        </div>
        <div class="actions">
        <div class="ui youtube cancel button">Close</div>
        </div>
    </div>


    <div class="ui mini modal" id="modalCode">
        <div class="header"><i class="bar chart icon"></i> Statistics</div>
        <div class="content">
        <div class="ui form">
            <div class="field">
            <h4 class="ui header">NO SIGN CONTRACT</h4>
            {% for ncCode in sc_Code %}
                <i class="caret right icon"></i> {{ncCode.jo_code}} <br>
            {% endfor %}
            </div>

            <div class="field">
            <h4 class="ui header">NO PO</h4>
            {% for poCode in po_Code %}
                <i class="caret right icon"></i> {{poCode.jo_code}} <br>
            {% endfor %}
            </div>

            <div class="field" id="noCoc">
            <h4 class="ui header">NO COC</h4>
            </div>

            <div class="field" id="daysDelayed">
                <h4 class="ui header">Delayed Due's</h4>
            </div>
        </div>
        </div>
        <div class="actions">
        <div class="ui vk cancel button">Close</div>
        </div>
    </div>
        {{count}}
        <i class="folder open small blue icon"></i>
    </div>
    <div class="label">
       Projects
    </div>
    </div>
    </center>
    </div>

<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red">
            {{nc}}
    </div>
    <div class="label">
            NO SIGNED CONTRACT
    </div>
    </div>
</center>
</div>

<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red">
            {{nopo}}
    </div>
    <div class="label">
    WITHOUT PO
    </div>
    </div>
</center>
</div>


<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red" id="withoutcoc">

    </div>
    <div class="label">
            WITHout COC
    </div>
    </div>
</center>
</div>


<div class="ui segment">
<center>
<div class="ui statistic" style="font-size: 12px;">
<div class="value" style="color: red" id="pcrr">
    
</div>
<div class="label">
        WITHout PCR
</div>
</div>
</center>
</div>



</div>
    <table class="ui celled structured selectable table" style="font-size: 11.5px;text-align: center;" id="dataTable">
        <thead>
        <tr>
            <th rowspan="2" id="th" style="font-size: 20px;">Project Code</th>
            <th rowspan="2" id="th">JO Date</th>
            <th rowspan="2" id="th" data-tooltip="Signed Contract" data-inverted>SC</th>
            <th rowspan="2" id="th" data-tooltip="Purchase Order" data-inverted>PO</th>
            <th rowspan="2" id="th" data-tooltip="Certificate of Completion" data-inverted>COC</th>
            <th rowspan="2" id="th" data-tooltip="PCR" data-inverted>PCR</th>
            <th width="1%" rowspan="2" id="th">Revision</th>
            <th rowspan="2" hidden id="th" class="joCodee" id="joCodee">JO Code</th>
            <th rowspan="2" id="th">Client</th>
            <th hidden rowspan="2" id="th">QL/QN</th>
            <th hidden rowspan="2" id="th">Project No.</th>
            <th rowspan="2" id="th">Contract Price</th>
            <th rowspan="2" id="th">Terms</th>
            <th colspan="2" id="th">Billing Date</th>
            <th colspan="2" id="th">Invoices</th>  
            
        </tr>
        <tr>
            <th id="th">Initial Date</th>
            <th id="th">PCR Billing Date</th>
            <th id="th">Initial Invoice</th>
            <th id="th">Final Billing</th>
            <th hidden id="th">Addendum</th>
        </tr>
    </thead>
        <tbody>
        {% for jos in jo %}
        <tr id="dataa">
            <td><a href="project/{{jos.id}}" id="idCode" class="ui circular animated fade vk button" style="width: 100%;"><div id="jo_Code" class="visible content">{{jos.jo_code}}</div><div class="hidden content">
                    View Details
                  </div></a></td>
            <td id="jo_date">{{jos.jo_date}}</td>
            <td hidden id="legend" style="color:white;"><input type="hidden" id="sign_contract" value={{jos.jo_sign_contract}}><input type="hidden"  id="po" value={{jos.jo_po_no}}><input type="hidden" value="{{jos.jo_coc}}" id="co"><input type="hidden"  id="pcrrrr" value="{{jos.jo_pcr_recieve}}"><input type="hidden"  id="joOR" value={{jos.jo_or}}>
                <input type="hidden" id="pcrBill_date" value="{{jos.jo_pcr_date_bill}}">

                <input type="hidden"  id="pcr_invoice" value="{{jos.jo_pcr_invoice}}">
                <input type="hidden"  id="pcr_or" value="{{jos.jo_pcr_or}}">
                <input type="hidden"  id="pcr_paymentdate" value="{{jos.jo_pcr_payment_date}}">

                <input type="hidden"  id="inv_1" value={{jos.jo_invoice1}}>
                <input type="hidden"  id="inv_2" value={{jos.jo_invoice2}}>
                <input type="hidden"  id="inv_3" value={{jos.jo_invoice3}}>
                <input type="hidden"  id="inv_4" value={{jos.jo_invoice4}}>
                <input type="hidden"  id="inv_5" value={{jos.jo_invoice5}}>

                <input type="hidden"  id="invdate_1" value="{{jos.jo_inv_date1}}">
                <input type="hidden"  id="invdate_2" value="{{jos.jo_inv_date2}}">
                <input type="hidden"  id="invdate_3" value="{{jos.jo_inv_date3}}">
                <input type="hidden"  id="invdate_4" value="{{jos.jo_inv_date4}}">
                <input type="hidden"  id="invdate_5" value="{{jos.jo_inv_date5}}">

                <input type="hidden"  id="or_1" value="{{jos.jo_payment_date_1}}">
                <input type="hidden"  id="or_2" value="{{jos.jo_payment_date_2}}">
                <input type="hidden"  id="or_3" value="{{jos.jo_payment_date_3}}">
                <input type="hidden"  id="or_4" value="{{jos.jo_payment_date_4}}">
                <input type="hidden"  id="or_5" value="{{jos.jo_payment_date_5}}">

                <input type="hidden"  id="orr_1" value="{{jos.jo_or1}}">
                <input type="hidden"  id="orr_2" value="{{jos.jo_or2}}">
                <input type="hidden"  id="orr_3" value="{{jos.jo_or3}}">
                <input type="hidden"  id="orr_4" value="{{jos.jo_or4}}">
                <input type="hidden"  id="orr_5" value="{{jos.jo_or5}}">

                <input type="hidden"  id="invoiceDatee" value="">
                
            </td>
            <td id="sccc"></td>
            <td id="pop"></td>
            <td id="coccc"></td>
            <td id="pccrrrrr"></td>
            <td><a class="ui medium blue circular label">{{jos.jo_rev}}</a></td>
            <td hidden id="cocCode">{{jos.jo_code}}</td>
            <td>{{jos.jo_clients}}</td>
            <td hidden>{{jos.jo_qlqnChoices}}</td>
            <td hidden>{{jos.jo_project_no}}</td>
            <td class="money" style="font-weight:bolder;font-family: courier new;">{{jos.jo_contact_price}}</td>
            <td id="terms">{{jos.jo_terms}} days</td>
            <td id="startDate"></td>
            <td id="pcrBilldate">{{jos.jo_pcr_date_bill}}</td>  
            <td id="invoiceNo"></td>  
            <td id="final_billing"></td> 
            <td hidden>{{jos.jo_addendum}}</td>
        </tr>
        {% endfor %}
    </tbody>
        </table>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
{% load staticfiles %}
<script src={% static '/js/index.js' %}></script>
<script src={% static '/js/tablesorter.js' %}></script>
<script src={% static '/js/moneyformater.js' %}></script>
<script src={% static '/js/moment.js' %}></script>
<script src={% static '/js/terms.js' %}></script>
<script src={% static '/js/dues.js' %}></script>
<script src={% static '/js/status.js' %}></script>
<script src={% static '/js/pcr.js' %}></script>
<script src={% static '/js/final_bill.js' %}></script>
<script src={% static '/js/jo_duedate.js' %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>

<script>

    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        hour = [1,2,3,4,5,6,7,8,9,10,11,12,12,1,2,3,4,5,6,7,8,9,10,11,12];
        months = ['Jan.','Feb.','Mar.','Apr.','May.','Jun.','Jul.','Aug.','Sep.','Oct.','Nov.','Dec.'];
        var dateToday = months[today.getMonth()] + ' ' + today.getDay() + ', ' + today.getFullYear();
        document.getElementById('clock').innerHTML =
        dateToday + ' / ' +hour[h] + ":" + m + ":" + s +' PM';
        var t = setTimeout(startTime, 500);
        
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
      

    $('.ui.message').delay(3000).hide(300);
    
    if(window.screen.availWidth < 800){
        $('#segments').removeClass('horizontal');
        $('#segments').addClass('vertical');
        $('#btnProjects').css('width','100%');
        console.log(window.screen.availWidth + " megaa");
    }
    else{
        $('#segments').removeClass('vertical');
        $('#segments').addClass('horizontal');
    }

    $('#infoInv').on('click',()=>{
        $('#invoiceInfo').modal('show');
    });

    $('#btnProjects').on('click',()=>{
        $('#modalCode').modal('show');
    });
        $('.money').simpleMoneyFormat();
        $(document).ready(function() 
        { 
            $("#dataTable").tablesorter(); 
        } 
    ); 

    $(document).ready(function() 
    { 
        $("#dataTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
    } 
); 
    
</script>
{% include 'partials/footer.html' %}