{% include 'partials/header.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<div class="" style="margin: 5px;margin-top:25px;">
    <h1 class="ui horizontal divider header">
    Mega B - Projects </h1><br>
</div>




{% if messages %}
    {% for message in messages %}
        <div {% if message.tags %} class="ui {{ message.tags }} message" {% endif %} style="margin: 15px;">
            <div class="header">
            Notice!
            </div>
            {{ message }}
        </div>
      {% endfor %}
{% endif %}

<div class="ui raised horizontal segments" id="segments">   
        <button class="ui facebook icon button" id="btnProjects"><i class="bar chart icon"></i> Statistics</button> 
<div class="ui  segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value">
    {% load staticfiles %}

    <div class="ui mini modal" id="modalCode">
        <div class="header"><i class="bar chart icon"></i> Statistics</div>
        <div class="content">
        <div class="ui form">
            <div class="field">
            <h4 class="ui header">NO SIGN CONTRACT</h4>
            {% for ncCode in sc_Code %}
                <i class="caret right icon"></i> {{ncCode.jo_code}} <br>
            {% endfor %}
            </div>

            <div class="field">
            <h4 class="ui header">NO PO</h4>
            {% for poCode in po_Code %}
                <i class="caret right icon"></i> {{poCode.jo_code}} <br>
            {% endfor %}
            </div>

            <div class="field" id="noCoc">
            <h4 class="ui header">NO COC</h4>
            </div>

            <div class="field" id="daysDelayed">
                <h4 class="ui header">Delayed Due's</h4>
            </div>
        </div>
        </div>
        <div class="actions">
        <div class="ui vk cancel button">Close</div>
        </div>
    </div>
        {{count}}
        <i class="folder open small blue icon"></i>
    </div>
    <div class="label">
       Projects
    </div>
    </div>
    </center>
    </div>

<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red">
            {{nc}}
    </div>
    <div class="label">
            NO SIGNED CONTRACT
    </div>
    </div>
</center>
</div>

<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red">
            {{nopo}}
    </div>
    <div class="label">
    WITHOUT PO
    </div>
    </div>
</center>
</div>


<div class="ui segment">
    <center>
    <div class="ui statistic" style="font-size: 12px;">
    <div class="value" style="color:red" id="withoutcoc">

    </div>
    <div class="label">
            WITHout COC
    </div>
    </div>
</center>
</div>


<div class="ui segment">
<center>
<div class="ui statistic" style="font-size: 12px;">
<div class="value" style="color: red" id="pcrr">
    
</div>
<div class="label">
        WITHout PCR
</div>
</div>
</center>
</div>



</div>
    <table class="ui celled structured selectable table" style="font-size: 12px;text-align: center;" id="dataTable">
        <thead>
        <tr>
            <th rowspan="2" id="th" style="font-size: 20px;">Project Code</th>
            <th rowspan="2" id="th">Date</th>
            <th rowspan="2" id="th" data-tooltip="Signed Contract" data-inverted>SC</th>
            <th rowspan="2" id="th" data-tooltip="Purchase Order" data-inverted>PO</th>
            <th rowspan="2" id="th" data-tooltip="Certificate of Completion" data-inverted>COC</th>
            <th rowspan="2" id="th" data-tooltip="PCR" data-inverted>PCR</th>
            <th rowspan="2" id="th">Revision</th>
            <th rowspan="2" hidden id="th" class="joCodee" id="joCodee">JO Code</th>
            <th rowspan="2" id="th">Client</th>
            <th hidden rowspan="2" id="th">QL/QN</th>
            <th hidden rowspan="2" id="th">Project No.</th>
            <th rowspan="2" id="th">Contract Price</th>
            <th rowspan="2" id="th">Terms (Due/Delayed)</th>
            <th colspan="2" id="th">Initial Billing</th>
            <th rowspan="2" id="th">Final Billing</th>  
            <th rowspan="2" id="th">Addendum</th>
        </tr>
        <tr>
            <th id="th">Date</th>
            <th id="th">Invoice No.</th>
        </tr>
    </thead>
        <tbody>
        {% for jos in jo %}
        <tr id="dataa">
            <td><a href="project/{{jos.id}}" id="idCode" class="ui circular animated fade vk button" style="width: 100%;"><div id="jo_Code" class="visible content">{{jos.jo_code}}</div><div class="hidden content">
                    View Details
                  </div></a></td>
            <td>{{jos.jo_date}}</td>
            <td hidden id="legend" style="color:white;"><input type="hidden" id="sign_contract" value={{jos.jo_sign_contract}}><input type="hidden"  id="po" value={{jos.jo_po_no}}><input type="hidden" value="{{jos.jo_coc}}" id="co"><input type="hidden"  id="pcrrrr" value="{{jos.jo_pcr}}"><input type="hidden"  id="joOR" value={{jos.jo_or}}>
                <input type="hidden"  id="inv_1" value={{jos.jo_invoice1}}>
                <input type="hidden"  id="inv_2" value={{jos.jo_invoice2}}>
                <input type="hidden"  id="inv_3" value={{jos.jo_invoice3}}>
                <input type="hidden"  id="inv_4" value={{jos.jo_invoice4}}>
                <input type="hidden"  id="inv_5" value={{jos.jo_invoice5}}>
                <input type="hidden"  id="inv_6" value={{jos.jo_invoice6}}>
                <input type="hidden"  id="inv_7" value={{jos.jo_invoice7}}>
                <input type="hidden"  id="inv_8" value={{jos.jo_invoice8}}>
                <input type="hidden"  id="inv_9" value={{jos.jo_invoice9}}>
                <input type="hidden"  id="inv_10" value={{jos.jo_invoice10}}>
                <input type="hidden"  id="inv_11" value={{jos.jo_invoice11}}>
                <input type="hidden"  id="inv_12" value={{jos.jo_invoice12}}>
                <input type="hidden"  id="inv_13" value={{jos.jo_invoice13}}>

                <input type="hidden"  id="invdate_1" value="{{jos.jo_inv_date1}}">
                <input type="hidden"  id="invdate_2" value="{{jos.jo_inv_date2}}">
                <input type="hidden"  id="invdate_3" value="{{jos.jo_inv_date3}}">
                <input type="hidden"  id="invdate_4" value="{{jos.jo_inv_date4}}">
                <input type="hidden"  id="invdate_5" value="{{jos.jo_inv_date5}}">
                <input type="hidden"  id="invdate_6" value="{{jos.jo_inv_date6}}">
                <input type="hidden"  id="invdate_7" value="{{jos.jo_inv_date7}}">
                <input type="hidden"  id="invdate_8" value="{{jos.jo_inv_date8}}">
                <input type="hidden"  id="invdate_9" value="{{jos.jo_inv_date9}}">
                <input type="hidden"  id="invdate_10" value="{{jos.jo_inv_date10}}">
                <input type="hidden"  id="invdate_11" value="{{jos.jo_inv_date11}}">
                <input type="hidden"  id="invdate_12" value="{{jos.jo_inv_date12}}">
                <input type="hidden"  id="invdate_13" value="{{jos.jo_inv_date13}}">

                <input type="hidden"  id="or_1" value={{jos.jo_or1}}>
                <input type="hidden"  id="or_2" value={{jos.jo_or2}}>
                <input type="hidden"  id="or_3" value={{jos.jo_or3}}>
                <input type="hidden"  id="or_4" value={{jos.jo_or4}}>
                <input type="hidden"  id="or_5" value={{jos.jo_or5}}>
                <input type="hidden"  id="or_6" value={{jos.jo_or6}}>
                <input type="hidden"  id="or_7" value={{jos.jo_or7}}>
                <input type="hidden"  id="or_8" value={{jos.jo_or8}}>
                <input type="hidden"  id="or_9" value={{jos.jo_or9}}>
                <input type="hidden"  id="or_10" value={{jos.jo_or10}}>
                <input type="hidden"  id="or_11" value={{jos.jo_or11}}>
                <input type="hidden"  id="or_12" value={{jos.jo_or12}}>
                <input type="hidden"  id="or_13" value={{jos.jo_or13}}>

            </td>
            <td id="sccc"></td>
            <td id="pop"></td>
            <td id="coccc"></td>
            <td id="pccrrrrr"></td>
            <td>{{jos.jo_rev}}</td>
            <td hidden id="cocCode">{{jos.jo_code}}</td>
            <td>{{jos.jo_clients}}</td>
            <td hidden>{{jos.jo_qlqnChoices}}</td>
            <td hidden>{{jos.jo_project_no}}</td>
            <td class="money" style="font-weight:bolder;font-family: courier new;">{{jos.jo_contact_price}}</td>
            <td id="terms">{{jos.jo_terms}} days</td>
            
            <td id="startDate">{{jos.jo_or_date}}</td>  
            <td id="invoiceNo">{{jos.jo_inv_no}}</td>  
            <td>{{jos.jo_final_billing}}</td> 
            <td>{{jos.jo_addendum}}</td>
        </tr>
        {% endfor %}
    </tbody>
        </table>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
{% load staticfiles %}
<script src={% static '/js/index.js' %}></script>
<script src={% static '/js/tablesorter.js' %}></script>
<script src={% static '/js/moneyformater.js' %}></script>
<script src={% static '/js/moment.js' %}></script>
<script src={% static '/js/terms.js' %}></script>
<script src={% static '/js/status.js' %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>

<script>
    $('.ui.message').delay(3000).hide(300);
    
    if(window.screen.availWidth < 800){
        $('#segments').removeClass('horizontal');
        $('#segments').addClass('vertical');
        $('#btnProjects').css('width','100%');
        console.log(window.screen.availWidth + " megaa");
    }
    else{
        $('#segments').removeClass('vertical');
        $('#segments').addClass('horizontal');
    }
    $('#btnProjects').on('click',()=>{
        $('#modalCode').modal('show');
    });
        $('.money').simpleMoneyFormat();
        $(document).ready(function() 
        { 
            $("#dataTable").tablesorter(); 
        } 
    ); 

    $(document).ready(function() 
    { 
        $("#dataTable").tablesorter( {sortList: [[0,0], [1,0]]} ); 
    } 
); 
    
</script>
{% include 'partials/footer.html' %}