<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="shortcut icon" href="{% static 'tabico/icon_doc.ico' %}">
    <style>
        .label{
            font-size: 12px;
        }
        #th{
            font-size: 12px;
            cursor: pointer;
        }
        .circular.button:hover{
            box-shadow: 5px 5px 5px #888888;
        }
        
    </style>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>


    <title>JOB ORDER</title>
</head>
<body>
        <div class="ui menu">
            <a id="menuBtn" class="item">
                <i class="bars icon"></i> Menu
            </a>
            <a class="item" href="/megaa">
                <div class="ui icon primary button"><i class="folder icon"></i>Mega A</div>
            </a>
            <a class="item" href="/megab">
                <div class="ui icon secondary button"><i class="folder icon"></i>Mega B</div>
            </a>
            
            <div class="right menu">
                <a class="item" id="onlineUser"><i class="circle green icon"></i> Online</a>
                    <a class="item" href="/logout">
                        <i class="sign out alternate red icon"></i>Logout?
                    </a>
            </div>
        </div>
        <div class="ui icon sidebar inverted vertical  menu">
            {% load staticfiles %}
            <div class="ui card">
                <a class="image" href="#">
                    <img src="{% static 'images/user-icon.png' %}" class="ui image centered" style="margin: 0px;">
                </a>
                <div class="content">
                    <a class="header" href="#">{{full_name}}</a>
                    <div class="meta">
                    <a>Loggedin</a>
                    </div>
                </div>
            </div>
            <a class="item" href="/admin">
                <i class="ui spy icon"></i>Admin
            </a>
        </div>



        <div class="ui mini modal" id="modalOnline">
                <div class="header"><i class="bar chart icon"></i> Online Users</div>
                <div class="content">
                        {% for userr in online_user %}
                            <label><i class="circle green icon"></i>{{userr}}<br></label>
                        {% endfor %}
                </div>
                <div class="actions">
                <div class="ui vk cancel button">Close</div>
                </div>
            </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>
<script>
        $('#onlineUser').on('click',()=>{
            $('#modalOnline').modal('show');
        });
   $('#menuBtn').on('click',()=>{
     $('.ui.sidebar').sidebar('toggle');
   });

   $('.item').on('blur','a.item',function(){
        $(this).addClass('active');
   });
</script>